@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #21252B;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
.calculator{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-column: span 4;
    position: relative;
    overflow: hidden;
    outline: none;
    border-radius: 15px;
    width: 300px;
    height: 500px;
}
.calculator .display{
    grid-column: span 4;
    width: 100%;
    height: 90px;
    padding: 10px;
    font-size: 26px;
    background: #B6B6B6;
    position: relative;
    overflow: hidden;
}
#display-1, #display-3{
    font-size: 18px;
    opacity: 0.5;
}
#display-3{
    position: absolute;
    bottom: 0;
    font-size: 16px;
}
#display-1, #display-2{
    text-align: right;
}
.btn{
    display: grid;
    place-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 21px;
    background: #27373B;
    border: .1px solid #5353531f;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn:hover{
    transition: 0s ease-in-out;
    background: #1c282b;
}
.btn:active{
    transition: 0.1s ease-in-out;
    background: #babd07;
}
.zeroBtn{
    grid-column: span 2;
}
.equal{
    grid-row: span 2;
}